[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "~=0.1"
numpy = "~=1.23"
pandas = "~=1.5"
requests = "~=2.28"
ta = "~=0.10"
scipy = "~=1.9"
metatrader5 = "~=5.0"
python-telegram-bot = "*"
schedule = "*"
pyngrok = "*"

[dev-packages]
ipykernel = "~=6.18"
matplotlib = "~=3.6"
autopep8 = "~=2.0"

[requires]
python_version = "3.9"
