[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "~=0.1"
numpy = "~=1.23"
pandas = "~=1.5"
requests = "~=2.28"
ta = "~=0.10"
scipy = "~=1.9"
metatrader5 = "~=5.0"
python-telegram-bot = "~=20.1"
mplfinance = "*"
scikit-learn = "~=1.2"
ta-lib = {file = "https://download.lfd.uci.edu/pythonlibs/archived/TA_Lib-0.4.24-cp39-cp39-win_amd64.whl"}

[dev-packages]
ipykernel = "~=6.18"
matplotlib = "~=3.6"
autopep8 = "~=2.0"
plotly = "~=5.14"

[requires]
python_version = "3.9"
